.card-image-container {
    width: 100%;
    line-height: 0;
    
    img {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        width: 100%;
        height: auto;
    }

    @media (min-width: 520px) {
        width: 200px !important;

        img {
            width: 200px !important;
        }
    }
}
